<div style="text-align: center; padding: 5px; border-radius: 20px"></div>
<div class="footer">
    <span class="badges">
        <a
            ><img
                src="{{site.url}}/assets/badges/miku.gif"
                alt="this website is miku approved"
                title="im thinking miku miku oo ee oo"
        /></a>
        <a href="https://archlinux.org" target="_blank"
            ><img
                src="{{site.url}}/assets/badges/archlinux.gif"
                alt="arch linux"
                title="i use arch btw"
        /></a>
        <a href="https://ninajirachi.bandcamp.com/album/i-love-my-computer" target="_blank"
            ><img
                src="{{site.url}}/assets/badges/i_like_computer.PNG"
                alt="I LIKE COMPUTER"
                title="i love my computer <3"
        /></a>
        <a
            ><img
                src="{{site.url}}/assets/badges/queercoding.png"
                alt="you're telling me a queer coded this"
                title="yeah i did hehe"
        /></a>
        <a
            ><img
                src="{{site.url}}/assets/badges/latex.gif"
                alt="LATEX"
                title="sorry i can't type my math assignments, i have a latex allergy :("
        /></a>
        <a
            ><img
                src="{{site.url}}/assets/badges/sucks.gif"
                alt="this website SUCKS"
                title="can I say this now that I use a static site generator"
        /></a>
        <a href="https://osu.ppy.sh/users/29946528/taiko" target="_blank"
            ><img
                src="{{site.url}}/assets/badges/osu.png"
                alt="osu: I have a RSI"
                title="i don't even play that much anymore"
        /></a>
        <a href="https://ctftime.org/user/168795" target="_blank"
            ><img
                src="{{site.url}}/assets/badges/play_ctf.gif"
                alt="PLAY CTF NOW!"
                title="I do surprisingly little of these"
        /></a>
        <a
            ><img
                src="{{site.url}}/assets/badges/letsnotencrypt.gif"
                alt="let's NOT encrypt"
                title="it would make my life so much easier :)"
        /></a>
        <a href="https://hackmii.com/" target="_blank"
            ><img
                src="{{site.url}}/assets/badges/wii.gif"
                alt="Wii"
                title="I love wii hacking so much thank you fail0verflow"
        /></a>
        <a href="https://cryptohack.org/user/cyberri/" target="_blank"
            ><img
                src="{{site.url}}/assets/badges/cryptohack.png"
                alt="CryptoHack"
                title="cryptohack also known as idol meet n greet
            and impostor syndrome generator"
        /></a>
        <a
            ><img
                src="{{site.url}}/assets/badges/futaba2.png"
                alt="Futaba Sakura"
                title="i need more hacker anime girls in my life"
        /></a>
        <a
            ><img
                src="{{site.url}}/assets/badges/3ds.png"
                alt="3DS"
                title="streetpass me if you meet me irl :)"
        /></a>
        <a
            ><img
                src="{{site.url}}/assets/badges/bad-apple.gif"
                alt="bad apple"
                title=":)"
        /></a>
    </span>
    <span class="footer-text float-left"
        >This work is licensed under
        <a
            rel="license"
            href="https://www.gnu.org/licenses/gpl-3.0.en.html"
            target="_blank"
            >GPLv3</a
        ></span
    >
    <span class="footer-text float-right">
        Site Updated: {{ site.time | date: '%Y-%m-%d' }} {{ site.timezone_short
        }} (<a href="/feed.xml" target="_blank">RSS</a>)
    </span>
</div>
