<div class="header">
    <div>
        <br>
        <pre class="neonText" role="img" aria-label="numberri">
        <b>
       *                      __                   _ 
   *   ____  __  ______ ___  / /_  ___  __________(_) - .*- ---- .+
 ^  * / __ \/ / / / __ `__ \/ __ \/ _ \/ ___/ ___/ / -.--.x--*
< >  / / / / /_/ / / / / / / /_/ /  __/ /  / /  / / -x---.*
 V  /_/ /_/\__,_/_/ /_/ /_/_.___/\___/_/  /_/  /_/ ------
        </b>
        </pre>
    </div>
    <br>
    <h5><i>github pages for writeups and other things</i></h5>
    <br>
    {% include nav.html %}
    <hr>
</div>