.neonText {
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
    padding: 0;
    margin: 0;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #add8e6,
      0 0 82px #add8e6,
      0 0 92px #add8e6,
      0 0 102px #add8e6,
      0 0 151px #add8e6;
  }